.indi_select{
    width: 20%;
    justify-content: space-between;
}
.indi_select > label span > span{
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 5px;
}
.indi_select > label span > span:nth-child(2){
    background-image: url(../img/diamonds/round_diamond_black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;
    height: 40px;
}
.indi_select > label{
    width: 100%;
    padding: 5px;
}
.indi_select > label input{
    display: none;
}
.indi_select > label input + span{
    width: 100%;
    float: left;
    cursor: pointer;
}
.indi_select > label input:checked + span > span:last-child{
    background-color: #e02423;
    color: #fff;
    background-image: url(../img/diamonds/round_diamond_white.png);
    border-radius: 10px;
}
.shape_fld > label,.range_fld > label{
    width: 100%;
    margin-left: 5px;
    font-weight: 700;
    font-size: 16px;
}

/* Price Range */

.filter-price {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .price-title {
    position: relative;
    color: #fff;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
  }
  
  .price-field {
    position: relative;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    background: transparent;
    padding-top: 15px;
    /* padding-left: 16px; */
    border-radius: 3px;
  }
  
  .price-field input[type=range] {
      position: absolute;
  }
  
  /* Reset style for input range */
  
  .price-field input[type=range] {
    width: 100%;
    height: 10px; 
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 0px;
    pointer-events: none;
    -webkit-appearance: none;
  }
  
  .price-field input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
  }
  
  .price-field input[type=range]:active,
  .price-field input[type=range]:focus {
    outline: 0;
  }
  
  .price-field input[type=range]::-ms-track {
    width: 100%;
    height: 2px; 
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 0px;
    pointer-events: none;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  /* Style toddler input range */
  
  .price-field input[type=range]::-webkit-slider-thumb { 
    /* WebKit/Blink */
      position: relative;
      -webkit-appearance: none;
      margin: 0;
      border: 0;
      outline: 0;
      border-radius: 0%;
      height: 30px;
      width: 10px;
      margin-top: -10px;
      background-color: #fff;
      border: 1px solid #333;
      cursor: pointer;
      cursor: pointer;
      pointer-events: all;
      z-index: 100;
  }
  
  .price-field input[type=range]::-moz-range-thumb { 
    /* Firefox */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 30px;
    width: 10px;
    margin-top: -5px;
    background-color: #ccc;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
  }
  
  .price-field input[type=range]::-ms-thumb  { 
    /* IE */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 30px;
    width: 10px;
    margin-top: -5px;
    background-color: #ccc;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
  }
  
  /* Style track input range */
  
  .price-field input[type=range]::-webkit-slider-runnable-track { 
    /* WebKit/Blink */
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #e02423;
    border-radius: 5px;
  }
  
  .price-field input[type=range]::-moz-range-track { 
    /* Firefox */
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #e02423;
    border-radius: 5px;
  }
  
  .price-field input[type=range]::-ms-track { 
    /* IE */
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #e02423;
    border-radius: 5px;
  }
  
  /* Style for input value block */
  
  .price-wrap {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 7px;
    width: 100%;
  }
  
  .price-wrap-1, 
  .price-wrap-2 {
    display: flex;
    border: 1px solid #333;
    width: 100px;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
  }
  
  .price-title {
    margin-right: 5px;
    backgrund: #d58e32;
  }
  
  .price-wrap_line {
    margin: 0 10px;
  }
  
  .price-wrap #one, 
  .price-wrap #two {
    width: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    background:  0;
    border: 0;
    outline: 0;
    color: #000;
    font-family: 'Karla', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
  }
  .price-wrap #one2, 
  .price-wrap #two2 {
    width: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    background:  0;
    border: 0;
    outline: 0;
    color: #000;
    font-family: 'Karla', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
  }
  .price-wrap #one1, 
  .price-wrap #two1 {
    width: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    background:  0;
    border: 0;
    outline: 0;
    color: #000;
    font-family: 'Karla', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
  }
  
  .price-wrap label {
    text-align: right;
    display: none;
  }
  
  /* Style for active state input */
      
  .price-field input[type=range]:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #fff;
    transition-duration: 0.3s;
  }
  
  .price-field input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #fff;
    transition-duration: 0.3s;
  }


  /* Color Range */
  .slider-box {width: 100%;/* margin: 25px auto; */float: left;position: relative; padding: 0px 8px;}
  .slider-box label, .slider-box input { background-color: transparent; border: none; display: inline-block; margin-right: -4px; vertical-align: top; width: 30%}
  .slider-box input {width: 70%}
  .slider {margin: 25px 0}
  .slider-box #price-range,.slider-box #price-range1,.slider-box #price-range2{
      height: 10px;
  }
  .slider-box #price-range > span, .slider-box #price-range1 > span,.slider-box #price-range2 > span,.slider-box #price-range3 > span,.slider-box #price-range4 > span,.slider-box #price-range5 > span{
    background: #ffffff;
    border: 1px solid #333;
    width: 10px;
    height: 30px;
    top: -11px;
    cursor: e-resize;
    border-radius: 0px;
    cursor: pointer;
    z-index: 9;
  }
  .slider-box #price-range > .ui-slider-range,.slider-box #price-range1 > .ui-slider-range,.slider-box #price-range2 > .ui-slider-range,.slider-box #price-range3 > .ui-slider-range,.slider-box #price-range4 > .ui-slider-range,.slider-box #price-range5 > .ui-slider-range{
      height: 10px;
  }
  .slider-box .ui-slider-horizontal{
    width: 100%;
  }
  .slider-box > label{
      width: 100%;
      font-weight: 700;
      margin-right: 0px;
      font-size: 16px;
  }
  .cut_box_main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 76px;
    left: 0px;
    height: 10px;
    z-index: 8;
    padding: 0px 8px;
  }
  .cut_box{
      width: 24.8%;
      border-left: 1px solid #fff;
      background-color: #e02423;
  }
  .cut_box3{
    width: 33.33%;
    border-left: 1px solid #fff;
    background-color: #e02423;
}
.cut_box5{
    width: 20%;
    border-left: 1px solid #fff;
    background-color: #e02423;
}
  .cut_box1{
    width: 12%;
    border-left: 1px solid #fff;
    background-color: #e02423;
}
.wishList_call input{
    display: none;
}
.wishList_call input + span{
    width: 40px;
    height: 20px;
    float: left;
    background-image: url(../img/icon/heart.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}
.wishList_call input:checked + span{
    background-image: url(../img/icon/heart_fill.png);
}
.table thead tr th{
    background-color: #ccc;
    border-right: 1px solid #a8a8a8;
    border-bottom: 0px;
}
.table thead tr th:last-child{
    border-right: 0px solid #a8a8a8;;
}
.table tr th + th{
    background-position: 80% center;
    background-repeat: no-repeat;
    background-size: 20px;
    text-align: center;
    cursor: pointer;
}
.table{margin-bottom: 0px;}
.table>:not(caption)>*>*{text-align: center;}
.table tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}
.tab-content > .tab-pane.active .table {
    border:1px solid #f2f2f2;
}
.table_nav{
    width: 100%;
}
.table_nav ul{
    display: flex;
}
.table_nav ul li{
    border: 1px solid #d8d8d8;
    border-radius: 10px 10px 0px 0px;
    color: #e02423;
    padding: 10px 20px;
    cursor: pointer;

}
.table_nav ul li:hover{
    color: #fff;
    background-color: #e02423;
}
.table_nav ul li + li{
    margin-left: 20px;
}
.show_opt span{
    padding: 10px 10px 10px 30px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.show_opt .list_show{
    background-image: url(../img/icon/list.png);
}
.show_opt .list_show.active{
    background-image: url(../img/icon/list-white.png);
}
.show_opt .grid_show{
    background-image: url(../img/icon/grid.png);
}
.show_opt .grid_show.active{
    background-image: url(../img/icon/grid-white.png);
}
.reset_btn input{
    background-color: transparent;
    border: none;
    background-image: url(../img/icon/reset.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 25px;
    color: #e02423;
    font-weight: 700;
}
/* .i360 span{
    padding: 10px 0px 10px 55px;
    background-image: url(../img/icon/360.png);
    background-position: 30px center;
    background-repeat: no-repeat;
    background-size: 40px;
}
.truck span{
    padding: 10px 0px 10px 55px;
    background-image: url(../img/icon/truck.png);
    background-position: 30px center;
    background-repeat: no-repeat;
    background-size: 40px;
} */
.quck_check > label input{
    display: none;
}
.quck_check > label input + span img{
    margin-right: 10px;
}
.quck_check > label input + span{
    padding: 20px 0px 20px 40px;
    background-image: url(../img/icon/checkbox1.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25px;
    font-size: 17px;
    font-weight: 600;
}
.quck_check > label input:checked + span{
    background-image: url(../img/icon/checked1.png); 
}


/* SignUp Section  */

.signup_section{
    padding-bottom: 60px;
    padding-top: 60px;
    background-image: linear-gradient(rgb(255 255 255 / 82%), rgb(202 202 202 / 71%)), url(../img/background/back1.jpg);
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
}
.image_blk img {
    width: 500px;
}
.signUp_block{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.signUp_frame{
    width: 100%;
/*    -webkit-box-shadow: 0px 0px 11px 0px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(168,168,168,1);
    box-shadow: 0px 0px 11px 0px rgba(168,168,168,1);*/
    padding: 50px 30px;
    border-radius: 0px;
    background-color: rgba(224,36,35,1);
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgb(224 36 35 / 82%), rgb(224 36 35 / 71%)), url(https://i.postimg.cc/zG2yKQFM/background.jpg);
    box-sizing: border-box;
    backface-visibility: hidden;
    border-radius: 0px;
    position: relative;
}
.signUp_frame p{
    color: #fff;
}
.signUp_frame label{
    color: #fff;
}
.main_form{
    width: 100%;
}
.main_form .form-group > input{
    height: 50px;
    border-radius: 0px;
}
.form-group .form-control:focus{
    box-shadow: none !important;
    background-color: transparent;
}
.sign_top {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.email_blk > input{
    padding-left: 15px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    border:1px solid #fff;
    background-color: transparent;
    color: #fff;
}
.email_blk > input:focus, .password_blk > input:focus{
  border-color: #fff;
  color: #fff;
}
.email_blk > input::-webkit-input-placeholder, 
.password_blk > input::-webkit-input-placeholder { 
  color: #fff;
}

.email_blk > input:-ms-input-placeholder, .password_blk > input:-ms-input-placeholder { 
  color: #fff;
}

.email_blk > input::placeholder,.password_blk > input::placeholder {
  color: #fff;
}
.email_blk.lgusr > input{
    padding-left: 40px;
    background-image: url(../img/icon/user.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    border:1px solid #fff;
    background-color: transparent;
    filter: -webkit-brightness(0) invert(1);
    filter: -moz-brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.email_blk.dtbrt > input{
    padding-left: 40px;
    background-image: url(../img/icon/calender.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    border:1px solid #fff;
    background-color: transparent;
    filter: -webkit-brightness(0) invert(1);
    filter: -moz-brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.email_blk.mrtsts > select{
    padding-left: 40px;
    background-image: url(../img/icon/marital.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    height: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    background-color: transparent;
    filter: -webkit-brightness(0) invert(1);
    filter: -moz-brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.email_blk.mrtsts > select:focus{
    box-shadow: none;
}
.gndr{
    padding: 10px 0px 10px 0px;
    /*background-image: url(../img/icon/gender.png);*/
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.gender_blk{
    width: 100%;
    margin-bottom: 20px;
    float: left;
}
.gender_blk > label + label{
    margin-left: 40px;
}
.varify_blk > input{
    padding-left: 40px;
    background-image: url(../img/icon/tick.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
}
.password_blk > input{
    padding-left: 15px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 18px; 
    border:1px solid #fff;
    background-color: transparent;
    color: #fff;
}
.main_form > button{
    background-color: transparent;
    border: 1px solid #fff;
    height: 60px;
    color: #fff;
    font-size: 20px;
    border-radius: 0px;
}
.main_form > button:hover, .main_form > button:focus{
    background-color: #fff;
    border: 1px solid #fff;
    color: #e02423;
    box-shadow: none;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none;
}
a.new_account {
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: underline;
}
a.new_account:hover{
    color: #fff;
    text-decoration: none;
}
.sign_top > h3{
    color: #fff;
    font-weight: 700;
}
.forgotPass{
    color: #fff;
    font-size: 16px;
    padding: 10px 0px 10px 40px;
    background-image: url(../img/icon/forgot.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25px;
   text-decoration: underline; 
}

.text-muted{
    color: #fff !important;
}
.forgotPass:hover{
    color: #fff;
    text-decoration: none;
}
.strength{
    width: 80px;
    height: 10px;
    display: flex;
    margin-top: 10px;
}
.strength > div{
    width: 33.33%;
    height: 100%;
}
.strength .weak{
    background-color: rgb(255, 46, 46);
}
.strength .avg{
    background-color: rgb(255, 255, 78);
}
.strength .good{
    background-color: rgb(62, 226, 62);

}
.term_line > p a{
    color: #fff;
    text-decoration: underline;
}
.progress_blk {
    width: 100%;
    float: left;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.progess_line {
    width: 500px;
    height: 5px;
    background-color: #ccc;
    position: relative;
}
.step_group{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: -5px;
}
.steps{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(138, 138, 138);
    /* background-color: #e02423; */
}
.steps.active{
    background-color: #e02423;
    border: 1px solid #333;
}
.varified {
    width: 100%;
    float: left;
    text-align: right;
}
.varified > img{
    width: 60px;
}
.thank_you_blk {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

.thank_you {
    width: 500px;
    text-align: center;
}

.thank_you p {
    margin-bottom: 0px;
    font-size: 18px;
}
.thank_you > img{
    width: 120px;
    margin-bottom: 40px;
}
.thank_you > h2 {
    font-size: 48px;
    color: rgb(36 36 36);
    margin-bottom: 25px;
}
.thank_you > a{
    color: #fff;
    background-color: #e02423;
    padding: 8px 12px;
    margin-top: 20px;
    border-radius: 5px;
}
.accnt_created{
    background-image: url(../img/background/back.jpg);
    background-size: 100% 100%;
}
.image_blk{
    background-color:rgb(255 255 255 / 78%);
    padding: 50px;
    height: 100%;
    margin: 0px 0px 0 50px;
}
.sign_topsec > h3 {
    font-weight: 700;
}
.benefits-wrap .h4 {
    color: #4a4a4a;
    font-size: 1.28571em;
    font-weight: 700;
    margin-bottom: 30px;
}
.benefits-wrap{
    text-align: left;
    margin-top: 30px;
}
.benefits-wrap ul {
    list-style: none;
    padding: 0;
    width: 60%;
}
.benefits-wrap .benefits {
    margin-bottom: 30px;
}
.benefits-wrap .benefits:last-child {
    margin-bottom: 0px;
}
.benefits-wrap .flex-wrap-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.benefits-wrap i {
    font-size: 30px;
    margin-right: 20px;
    color: #e02423;
}
.benefits-wrap .detail {
    color: #757575;
    font-size: 16px;
    font-weight: 500;
}
.image_blk .btn{
    background-color: #e02423;
    border: 1px solid #e02423;
    height: 60px;
    color: #fff;
    font-size: 20px;
    border-radius: 0px;
    line-height: 38px;
    padding: 10px 30px;
}
.image_blk .btn:hover, .image_blk.btn:focus{
    background-color: transparent;
    border: 1px solid #e02423;
    color: #e02423;
    box-shadow: none;
}
.signUp_frame:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid #be2a28;
}
.image_blk.veryfi{
    text-align: center;
}
.image_blk.veryfi img{
    width: 350px;
}



/* filter */

.show_opt span.active{
    background-color: #e02423;
    color: #fff;
}
.visual_show{
    width: 100%;
    float: left;

}
.visual_main{
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.visual_indivisual{
    width: 18.5%;
    margin-bottom: 20px;
    border: 1px solid #f2f2f2;
    position: relative;
}
.show_img{
    width: 100%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
}
.show_img img{
    width: 100px;
}
.img_details{
    width: 100%;
    padding: 20px;
}
.img_details p{
    margin-bottom: 5px;
}
.more_blk{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}



.flip_container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    /* border: 1px solid #ccc; */
  }
  
      .flip .flip_container .flipper,  
    .flip .flip_container .flipper {
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
      }
  
  .flip_container, .show_img, .back {
      width: 100%;
      height: 260px;
  }
  
  .flipper {
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
  
      -moz-transition: 0.6s;
      -moz-transform-style: preserve-3d;
    
    -o-transition: 0.6s;
      -o-transform-style: preserve-3d;
  
      transition: 0.6s;
      transform-style: preserve-3d;
  
      position: relative;
  }
  
  .show_img, .back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .show_img {
      z-index: 2;
  }
  
  .back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      background-color: #f8f8f8;
      padding: 30px 0px;
      
  }
  .back > img{
    opacity: 0.2;
    position: absolute;
    padding: 70px;
  }
  
  .show_img .name {
      font-size: 2em;
      display: inline-block;
      background: rgba(33, 33, 33, 0.9);
      color: #f8f8f8;
      font-family: Courier;
      padding: 5px 10px;
      border-radius: 5px;
      bottom: 60px;
      left: 25%;
      position: absolute;
      text-shadow: 0.1em 0.1em 0.05em #333;
  
      -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
      transform: rotate(-20deg);
  }
  
  .back-logo {
      position: absolute;
      top: 40px;
      left: 90px;
      width: 160px;
      height: 117px;
      background: url(http://davidwalsh.name/demo/logo.png) 0 0 no-repeat;
  }
  
  .back-title {
      font-weight: bold;
      color: #00304a;
      position: absolute;
      top: 180px;
      left: 0;
      right: 0;
      text-align: center;
      text-shadow: 0.1em 0.1em 0.05em #acd7e5;
      font-family: Courier;
      font-size: 2em;
  }
  
  .back p {
      /* position: absolute; */
      bottom: 40px;
      left: 0;
      right: 0;
      /* text-align: center; */
      padding: 0 20px;
      font-family: arial;
      line-height: 2em;
      /* margin-top: 40px; */
      float: left;
      width: 100%;
  }
  .more_btn{
      color: #e02423;
      cursor: pointer;
      font-weight: 700;
  }
  .visual_show{
      display: none;
  }
.show_opt span{
    cursor: pointer;
}
.like {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0px;
    z-index: 9;
    background-image: url(../img/icon/heart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}
.like.hit{
    background-image: url(../img/icon/heart_fill.png);
}
.show_hide_blk{
    width: 100%;
    float: left;
    display: none;
}
.more_filter_blk{
    position: relative;
    width: 100%;
    float: left;
}
.showHide_btn{
    position: absolute;
    bottom: -40px;
    transform: translate(-50%, -50%);
    left: 50%;
    width: auto;
}
.showHide_btn button{
    background-color: #e02423;
    color: #fff;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 16px;
}

/* forgot */

.sign_label{
    font-size: 16px;
    width: 300px;
}
.create_label{
    font-size: 16px;

}
.key{
    width: 30px;
    margin-right: 10px;
    margin-top: -9px;
}
.shape_fld, .range_fld{
    background-color: #f7f7f7;
    padding: 20px 30px;
    min-height: 180px;
    margin-bottom: 25px;
}

.cutbox{
    background-color: #f7f7f7;
    padding: 20px 30px;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    min-height: 180px;
}

/*---data Table----*/
.top-information,
.bottom-information {
  padding: 0 20px;
  display: none;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
   background-color: #29cc97;
   top: 14px;
   width: 16px;
   height: 16px;
   line-height: 16px;
   border: 0;
   font-weight: bold;
   box-shadow: none;
  }

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  background-color: fec400;
}
.table.dataTable{text-align: center;
}
table.dataTable td, table.dataTable th{
    padding: 14px 10px;
    font-size: 15px;
}

.retpro .recentview .single_product{
    margin-bottom: 15px;
    margin-top: 15px;
}
.retpro .single_product img{
    height: 180px;
    width: 100%;
    object-fit: contain;
}
.table.dt-responsive tbody tr th{
    border-right: 1px solid #d2d2d2;
}

/*-------360 View----*/
.degview{
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
}
.product_details .product-details-tab{position: relative;}
.degviewmodal .modal-header{
  padding: 0px;
}
.degviewmodal .modal-header .btn-close{
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 999;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  color: #fff;
  background-color: #c11f1e;
  font-size: 22px;
}
.degviewmodal .modal-body{
  padding: 0px;
}
.degviewmodal .modal-content{border:none;}
body .threesixty-wrapper img{cursor: pointer;}
.degviewmodal {
  top: 50% !important;
  transform: translate(0, -44%);
  -webkit-transform: translate(0, -44%);
  -moz-transform: translate(0, -44%);
  -o-transform: translate(0, -44%);
  }
  .serpro{
  	position: absolute;
  	background-color: #fff;
  	/*padding: 15px;*/
  	left: auto;
  	z-index: 9;
  	top: 52px;
  	width: 22%;
  	right: 22%;
  }
.serpro li{
padding: 2px 15px;
}
.serpro li a{display: block; width: 100%;}
.serpro li a:hover{
	color: #e02423;
}